<!-- <div>main content,and this is home component</div>
<div style="margin-top:200%">aaa</div> -->
<header class="header">
    <!--头部标题、菜单按钮-->
    <i class="icon iconfont icon-nav"></i>
    <h2>今日新闻</h2>
</header>
<div class="gallery">
        <!-- <img src="https://pic4.zhimg.com/v2-f6ae935c08999b4978758ac689694167.jpg" alt=""> -->
    <!--轮播图-->
    <ul class="flex-container" [ngStyle]="setTransform()"
    (panstart)="panstart($event)"
    >        
        <li *ngFor="let item of galleries;let i =index"><img [src]="proxyImageUrl(item.image)"/><h3 class="info">{{item.title}}</h3></li>
    </ul>    
</div>
<div>
    <!--文章列表区域-->
</div>

