.header{
    color: #fff;
    text-align: center;
    height: .32rem;
    line-height: .32rem;
    font-size: .22rem;
    background-color: #000000;
    position: relative;
    h2{
        display: inline-block;
    }
    i{
        font-size: .26rem;
        // padding:0 .15rem;
        position: absolute;
        top:0;
        left: .15rem;
    }
}
.gallery{
    background-color: #ff8040;
    height: 3.2rem;
    overflow: hidden;
    color: #fff;  
    text-align: center;
    width:100%;
    ul{
        height:100%; 
        width:300%;
        // overflow: hidden;    
        li{
            float: left;
            height:100%;
            width:100%; 
            position: relative; 
        }           
    }
    
    img{
        width: 100%;
        height:100%;
    }
    .info{
        position: absolute;
        bottom:.2rem;    
        width:100%;
        text-align:center;    
    }    
}
